{% extends "base.html" %}


{% block content %}

    {% for meal in meals %}
    <div class="">
        <div class="card" style="width: 22rem;">
            <img src="{{ meal.strMealThumb}}" class="card-img-top" alt="strMealThumb image">
            <div class="card-body">
                <h4>{{meal.strMeal}}</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    {% endfor %}

{% endblock content %}