{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="width: 35%; margin: auto; margin-top: 50px">
    <form method="post" action="" novalidate>
        {% csrf_token %}
        {% for form in forms %}
            <div>
                {{form.label_tag}}
                <!-- {{forms | crispy}} -->
                {{form}}
                {{form.errors | striptags}}
            </div>
        {% endfor %}
        <br>
        <button class="btn btn-secondary">Change Password</button>
    </form>
</div>
{% endblock content %}