{% extends "base.html" %}


{% block content %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
        <b class="text-{{message.tag}}">{{ message}}</b>
    </div>
    {% endfor %}
    {% endif %}
<h1>profile page</h1>

<div class="text-center mt-5">
    <h1>Change Password</h1>
    <div class="mt-5 mx-5">
        <a class="btn btn-info mx-4" href="{% url 'old_password' %}">using Old Password</a>
        <a class="btn btn-success mx-4" href="{% url 'change_password' %}">without Old Password</a>
    </div>
</div>

{% endblock content %}