{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    {% if type == "Log In" %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
        <b class="text-{{message.tag}}">{{ message}}</b>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}

    <div style="width: 35%; margin: auto; margin-top: 50px;">
        <form method="post" action="" novalidate>
            {% csrf_token %}
            {% for form in forms %}
                <div>
                {{form.label_tag}}
                <!-- {{forms | crispy}} -->
                {{form}}
                {{form.errors | striptags}}
                </div>
            {% endfor %}
            <br>
            <button class="btn btn-warning">{{type}}</button>
            <br>
            <br>
            {% if type == "Sign In" %}
            <p>Already Have An Account <a href="{% url 'log_in' %}">Log In</a></p>
            {% endif %}
        </form>
    </div>
{% endblock content %}